body {
    background-image: url("background.png");
    font-size: 1.15em;
    text-align: left;
    margin: 15px;
}

@media only screen and (min-width: 880px) {
    body {
        text-align: justify;
    }
}

.main {
    margin: 30px auto 0 auto;
    max-width: 910px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 50px black;
    border-color: rgba(54, 97, 162, 1);
    border-style: solid;
    border-width: 15px 0 15px 0;
}

.footer {
    margin: 20px auto 30px auto;
    max-width: 910px;
    padding: 0 30px 0 30px;
    color: rgba(255, 255, 255, 0.9);
    font-style: italic;
}

.backlink {
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (min-width: 600px) {
    img {
        width: 75%;
    }
}

@media only screen and (min-width: 900px) {
    img {
        width: 50%;
    }
}

h1 {
    color: rgba(54, 97, 162, 1);
    margin-top: 0px;
    text-align: left;
}

.pdflinks {
    font-style: italic;
    margin-top: -25px;
}

a {
    color: rgba(54, 97, 162, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.index table {
    width: 100%;
    table-layout: auto;
    padding: 5px;
    margin: 10px;
    font-size: inherit;
}

.index td {
    padding-right: 0.7em;
    padding-bottom: 0.5em;
}

.index td:nth-child(1) {
    text-align: right;
}

.index td:nth-child(2) {
    min-width: 150px;
    padding-right: 1em;
    font-weight: bold;
}

.cleaner {
    clear: both;
}

.footer a {
    color: rgba(255, 255, 255, 0.9);
}

.solution-button {
    background-color: rgba(54, 97, 162, 0.1);
    cursor: pointer;
    padding: 15px;
    margin: 20px 0 0 0;
}

.solution-button:before {
    content: "\002B";
    margin-right: 10px;
}

.active:before {
    content: "\2212";
}

.active, .solution-button:hover {
    background-color: rgba(54, 97, 162, 0.3);
}

.solution {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(255, 255, 255, 0.9);
}

div.references:before {
    content: "Reference";
    display: block;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    border-radius: 5px;
}

tr {
    display: table-row;
    background: #f6f6f6;
}

tr:nth-of-type(odd) {
    background: #e9e9e9;
}

tr.header {
    font-weight: 800;
    color: #ffffff;
    background: rgba(54, 97, 162, 1);
    border-radius: 5px;
}

th {
    padding: 6px 12px;
    display: table-cell;
}

ol {
    counter-reset: list;
    margin: 0;
}

ol>li {
    list-style: none;
    position: relative;
}

ol>li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

ul.tags {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    display: table-cell;
}

ul.tags li {
    list-style: none;
}

.button {
    background-color: rgba(54, 97, 162, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 49%;
    margin: 0;
}

#btn-feedback {
    padding: 10px;
    text-align: center;
    margin: 0;
    width: 300px;
    height: 80px;
    z-index: 15;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: bottom left;
    position: fixed;
    border-radius: 0;
    left: 0;
    top: 200px;
    border-radius: 3px;
}

.quote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid rgba(54, 97, 162, 1);
}

.quote:before {
    content: '\201C';
}

.quote:after {
    content: '\201D';
}