<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134264779-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134264779-2');
</script>
<base href="https://pancelka.github.io/diplomova_laska/">
<link rel="stylesheet" href="style.css" media="screen">
<script src="collapsible.js" type="text/javascript"></script>
<script type="text/javascript">
    MathJax.Hub.Config({
        TeX: {
            Macros: {
                RR: "\\mathbb{R}",
                ZZ: "\\mathbb{Z}",
                QQ: "\\mathbb{Q}",
                NN: "\\mathbb{N}"
            }
        }
    });
</script>