<h1>Matematický seminár pre talentovaných študentov</h1>

<p>Milý, matematiky chtivý, čitateľ,<br>
pred očami máš elektronickú verziu mojej diplomovej práce Matematický seminár
pre talentovaných študentov, ktorú som vypracovala na Prírodovedeckej fakulte
Masarykovej univerzity pod trpezlivým vedením Mgr. Michala Bulanta, PhD. Ako
praví abstrakt:</p>

<p class="quote">Diplomová práca sa zaoberá tvorbou osnovy prezenčného
matematického seminára pre talentovaných študentov. Ten má pripravovať študentov
prvého ročníka strednej školy na účasť na matematických súťažiach, najmä
matematickej olympiáde.&nbsp;V prvej časti práca predstavuje prehľad aktivít, do
ktorých sa môžu stredoškoláci so záujmom o matematiku zapojiť, spolu so stručným
prehľadom typov úloh matematickej olympiády kategórie C a vzdelávacieho programu
pre predmet matematika v prvom ročníku. Na základe toho potom práca v druhej
časti obsahuje návrh konkrétneho obsahu jednotlivých stretnutí matematického
seminára vo forme prevzatých riešených príkladov sprevádzaných komentárom.</p>

<p>Tento web by obsah práce rád ponúkol v trochu priateľskejšej forme než
160-stránkové pdfko (ktoré je ovšem <a
href="https://is.muni.cz/th/m1nb0/">verejne dostupné</a>, spolu s prílohami a
posudkami).</p>

<h3>Ako web používať?</h3>

<p>Web má dve hlavné časti, ktoré sa obsahovo relatívne dosť prekrývajú (obe
obsahujú úlohy MO), líšia sa však v tom, ako sú usporiadané.</p>

<h4><a href="seminars.html">Semináre</a></h4>

V podstate celý obsah diplomovky, len prehľadne rozdelený na jednotivé semináre.
34 dvojhodinových stretnutí, každé stretnutie zamerané na (trochu) inú oblasť
prváckych olympiádnych úloh. Úlohy sú väčšinou radené so vzostupnou
obtiažnosťou, k riešeniam prevzatým zo skmo.sk sú pridané komentáre, príp.
ďalšia odporúčaná literatúra. Obsahuje pracovný list so zadaniami, aj verziu s
riešeniami a komentármi, obe klikateľné aj pripravené na tlač.</p>

<h4><a href="problems.html">Úlohy</a></h4>

<p>Databanka úloh kategórie C z rokov 2007-2017, zopár úloh kategórie B z toho
istého obdobia, spolu s riešeniami. Možnosť zvoliť si tému aj typ úlohy.</p>

<p>Úlohy sú v drvivej väčšine prevzaté z oficiálnej stránky <a
href="https://skmo.sk/">Slovenskej komisie Matematickej olympiády</a>, formát
označenia typický pre MO je zachovaný. Riešenia sú tiež takmer všetky prevzaté
(v tom prípade sú označené *), zopár z nich je originálnych (bez *).</p>

<h3>Poďakovanie</h3>
<p>... si opäť požičiam z diplomovky.</p>

<p class="quote">Na tomto mieste by som rada poďakovala Mrg. Michalovi
Bulantovi, Ph.D. za neuveriteľnú trpezlivosť, pomoc, dôveru a povzbudivé slová v
priebehu vypracovania práce. Ďakujem tiež mojim rodičom a bratovi, Kubovi,
Jurajovi, Honzovi, Martinovi, Matúšovi a ostatným parádnym kamarátom za podporu
technickú, intelektuálnu aj psychickú. Bez vás by nebolo ani dobre, ani
diplomová práca.</p>

<p>Tento web, ako taký voľnočasový rozmar, ktorý nebol zadaním diplomovky, by
nevznikol bez výdatného využitia mozgovej kapacity Martina Ukropa a Honzu
Mrázka. Ste hustěkrutí, kamaráti. Vďaka!</p>
