<h1>Zbierka úloh (MO kat. C a vybrané úlohy kat. B)</h1>

<p>Zvolte kategorii úloh:</p>

<div style="display:table;">
    <ul class="tags">
        <h2>Algebraické výrazy, rovnice</h2>
        <li><label><input type="checkbox" value="abshod"></label>Absolútna hodnota</li>
        <li><label><input type="checkbox" value="agner"></label>AG-nerovnosť</li>
        <li><label><input type="checkbox" value="vyrazy"></label>Algebraické výrazy</li>
        <li><label><input type="checkbox" value="dolca"></label>Dolná celá časť</li>
        <li><label><input type="checkbox" value="dokaz"></label>dokaz</li>
        <li><label><input type="checkbox" value="kvadr"></label>Kvadratické rovnice</li>
        <li><label><input type="checkbox" value="mnohocleny"></label>Mnohočleny</li>
        <li><label><input type="checkbox" value="nerlah"></label>Nerovnosti ľahšie</li>
        <li><label><input type="checkbox" value="nerovnosti"></label>Nerovnosti (všetky)</li>
        <li><label><input type="checkbox" value="nertaz"></label>Nerovnosti (ťažšie)</li>
        <li><label><input type="checkbox" value="odhady"></label>Odhady</li>
        <li><label><input type="checkbox" value="parametre"></label>Rovnice s parametrom</li>
        <li><label><input type="checkbox" value="rovnice"></label>Rovnice</li>
        <li><label><input type="checkbox" value="rovnicetaz"></label>rovnicetaz</li>
        <li><label><input type="checkbox" value="slovuloha"></label>Slovná úloha</li>
        <li><label><input type="checkbox" value="spor"></label>Dôkaz sporom</li>
        <li><label><input type="checkbox" value="sustavy"></label>Sústavy rovníc</li>
    </ul>
    <ul class="tags">
        <h2>Teória čísel</h2>
        <li><label><input type="checkbox" value="cifry"></label>Ciferné zápisy</li>
        <li><label><input type="checkbox" value="delitelnost"></label>Deliteľnosť</li>
        <li><label><input type="checkbox" value="prvocisla"></label>Provčísla</li>
        <li><label><input type="checkbox" value="nsdnsn"></label>NSD, NSN</li>
        <li><label><input type="checkbox" value="mismas"></label>Miš-maš</li>
        <li><label><input type="checkbox" value="palindromy"></label>Palindrómy</li>
    </ul>
    <ul class="tags">
        <h2>Geometria</h2>
        <li><label><input type="checkbox" value="zostrojte"></label>zostrojte</li>
        <li><label><input type="checkbox" value="anglechas"></label>Angle-chasing</li>
        <li><label><input type="checkbox" value="tangram"></label>Trangram</li>
        <li><label><input type="checkbox" value="trojuholniky"></label>Trojuholníky</li>
        <li><label><input type="checkbox" value="vpiskca"></label>Vpísaná kružnica</li>
        <li><label><input type="checkbox" value="stvoruholniky"></label>Štvoruholníky</li>
        <li><label><input type="checkbox" value="stvrouholniky"></label>stvrouholniky</li>
        <li><label><input type="checkbox" value="pytveta"></label>Pytagorova veta</li>
        <li><label><input type="checkbox" value="podtroj"></label>Podobné trojuholníky</li>
        <li><label><input type="checkbox" value="pomery"></label>Pomery</li>
        <li><label><input type="checkbox" value="opiskca"></label>Opísaná kružnica</li>
        <li><label><input type="checkbox" value="obsahy"></label>Obsahy</li>
        <li><label><input type="checkbox" value="obvodove"></label>Obvodové uhly</li>
        <li><label><input type="checkbox" value="netrgeo"></label>netrgeo</li>
        <li><label><input type="checkbox" value="konstrukcia"></label>Konštrukčná úloha</li>
        <li><label><input type="checkbox" value="kruznice"></label>Kružnice</li>
        <li><label><input type="checkbox" value="najdite"></label>najdite</li>
        <li><label><input type="checkbox" value="dotycstvor"></label>Dotyčnicový štvoruholník</li>
        <li><label><input type="checkbox" value="euklid"></label>euklid</li>
        <li><label><input type="checkbox" value="geomlah"></label>geomlah</li>
        <li><label><input type="checkbox" value="geompoc"></label>Počítanie v geometrii</li>
    </ul>
    <ul class="tags">
        <h2>Rôzne</h2>
        <li><label><input type="checkbox" value="znamosti"></label>Úlohy o známostiach</li>
        <li><label><input type="checkbox" value="dirichlet"></label>Dirichletov princíp</li>
        <li><label><input type="checkbox" value="strategia"></label>Hľadanie stratégie</li>
        <li><label><input type="checkbox" value="simsa"></label>simsa</li>
        <li><label><input type="checkbox" value="rozne"></label>rozne</li>
        <li><label><input type="checkbox" value="ofarbovanie"></label>ofarbovanie</li>
        <li><label><input type="checkbox" value="mriezsach"></label>Mriežky, šachovnice</li>
        <li><label><input type="checkbox" value="logika"></label>Logické úlohy</li>
        <li><label><input type="checkbox" value="kombi"></label>Kombinatorika</li>
        <li><label><input type="checkbox" value="hodiny"></label>hodiny</li>
        <li><label><input type="checkbox" value="hra"></label>Hra</li>
    </ul>
</div>

Úloha musí byť:

<div style="display:table;">
    <ul class="levelTags">
        <li><label><input type="checkbox" value="krajskekolo" checked></label>Krajské kolo</li>
        <li><label><input type="checkbox" value="skolskekolo" checked></label>Školské kolo</li>
        <li><label><input type="checkbox" value="navodna" checked></label>Návodná úloha</li>
        <li><label><input type="checkbox" value="domacekolo" checked></label>Úloha domáceho kola</li>
        <li><label><input type="checkbox" value="doplnujuca" checked></label>Doplňujúca úloha</li>
    </ul>
</div>

<input type="button" class="button" id="selectAll" value="Vybrat všetko">
<input type="button" class="button" id="deselectAll" value="Nevybrať nič">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function parseTags(object) {
        return $(object).data("tag").split(",").map(function (item) {
            return item.trim();
        });
    }

    function hasTagIn(tags, candidates) {
        var i;
        for (i = 0; i < tags.length; i++) {
            if (candidates.has(tags[i])) {
                return true;
            }
        }
        return false;
    }

    function show() {
        var currentTags = new Set();
        var currentLevelTags = new Set();
        $(".tags input:checked").each(function (index, checkbox) {
            currentTags.add($(checkbox).val());
        });
        $(".levelTags input:checked").each(function (index, checkbox) {
            currentLevelTags.add($(checkbox).val());
        });
        $(".problemContainer").each(function (index, problem) {
            tags = parseTags(problem);
            if (hasTagIn(tags, currentTags) && hasTagIn(tags, currentLevelTags)) {
                $(problem).show();
            }
            else {
                $(problem).hide();
            }
        });
    }

    $('.tags input').change(show);
    $('.levelTags input').change(show);

    $('#selectAll').click(function () {
        $('.tags input').prop("checked", true);
        show();
    });

    $('#deselectAll').click(function () {
        $('.tags input').prop("checked", false);
        show();
    });

    $(document).ready(function () {
        show();
    });
</script>