<h1>Seznam všech úloh v tomto semináři</h1>

<script>
</script>
<p>Zvolte kategorii úloh:</p>

<ul class="tags">
    <li><label><input type="checkbox" value="a" checked></label> Geometrická 1</li>
    <li><label><input type="checkbox" value="b" checked></label> Geometrická 2</li>
    <li><label><input type="checkbox" value="c" checked></label> Geometrická 3</li>
    <li><label><input type="checkbox" value="d" checked></label> Geometrická 4</li>
    <li><label><input type="checkbox" value="e" checked></label> Geometrická 5</li>
    <li><label><input type="checkbox" value="f" checked></label> Geometrická 6</li>
    <li><label><input type="checkbox" value="g" checked></label> Geometrická 7</li>
    <li><label><input type="checkbox" value="h" checked></label> Geometrická 8</li>
</ul>