<h1>Seznam všech úloh v tomto semináři</h1>

<p>Zvolte kategorii úloh:</p>

<ul class="tags">
    <li><label><input type="checkbox" value="TODO"></label>TODO</li>
    <li><label><input type="checkbox" value="agner"></label>ALG: AG nerovnosť</li>
    <li><label><input type="checkbox" value="vyrazy"></label>ALG: Výrazy</li>
    <li><label><input type="checkbox" value="mnohocleny"></label>ALG: Mnohočleny</li>
    <li><label><input type="checkbox" value="rovnice"></label>ALG: Rovnice</li>
    <li><label><input type="checkbox" value="odhady"></label>ALG: Nerovnosti - odhady</li>
    <li><label><input type="checkbox" value="kvadr"></label>ALG: Kvadratické rovnice</li>
    <li><label><input type="checkbox" value="sustavy"></label>ALG: Sústavy rovníc</li>
    <li><label><input type="checkbox" value="nerovnosti"></label>ALG: Nerovnosti</li>
    <li><label><input type="checkbox" value="nerovnosti2"></label>ALG: Nerovnosti2</li>
    <li><label><input type="checkbox" value="delitelnost"></label>TČ: Deliteľnosť</li>
    <li><label><input type="checkbox" value="mismas"></label>TČ: Miš-maš</li>
    <li><label><input type="checkbox" value="cifry"></label>TČ: Úlohy o cifrách</li>
    <li><label><input type="checkbox" value="nsdnsn"></label>TČ: Spoločný deliteľ, násobok</li>
    <li><label><input type="checkbox" value="prvocisla"></label>TČ: Prvočísla</li>
    <li><label><input type="checkbox" value="geomlah"></label>GEO: ľahká</li>
    <li><label><input type="checkbox" value="geompoc"></label>GEO: výpočty</li>
    <li><label><input type="checkbox" value="konstrukcia"></label>GEO: konštrukčná úloha</li>
    <li><label><input type="checkbox" value="trojuholniky"></label>GEO: Trojuolníky</li>
    <li><label><input type="checkbox" value="uhly"></label>GEO: Uhly</li>
    <li><label><input type="checkbox" value="vpiskca"></label>GEO: Vpísaná kružnica</li>
    <li><label><input type="checkbox" value="netrgeo"></label>GEO: ťažká a dlhá</li>
    <li><label><input type="checkbox" value="anglechas"></label>GEO: Angle chasing</li>
    <li><label><input type="checkbox" value="obsahy"></label>GEO: obsahy</li>
    <li><label><input type="checkbox" value="opiskca"></label>GEO: Opísaná kružnica</li>
    <li><label><input type="checkbox" value="podtroj"></label>GEO: Podobné trojuholníky</li>
    <li><label><input type="checkbox" value="pytveta"></label>GEO: Pytagorova veta</li>
    <li><label><input type="checkbox" value="mriezsach"></label>ROZ: Mriežky a šachovnice</li>
    <li><label><input type="checkbox" value="seminar04"></label>Seminár 4</li>
    <li><label><input type="checkbox" value="seminar05"></label>Seminár 5</li>
    <li><label><input type="checkbox" value="seminar06"></label>Seminár 6</li>
    <li><label><input type="checkbox" value="seminar07"></label>Seminár 7</li>
    <li><label><input type="checkbox" value="seminar08"></label>Seminár 8</li>
    <li><label><input type="checkbox" value="seminar09"></label>Seminár 9</li>
    <li><label><input type="checkbox" value="seminar10"></label>Seminár 10</li>
    <li><label><input type="checkbox" value="seminar11"></label>Seminár 11</li>
    <li><label><input type="checkbox" value="seminar12"></label>Seminár 12</li>
    <li><label><input type="checkbox" value="seminar13"></label>Seminár 13</li>
    <li><label><input type="checkbox" value="seminar18"></label>Seminár 18</li>
    <li><label><input type="checkbox" value="seminar19"></label>Seminár 19</li>
    <li><label><input type="checkbox" value="seminar20"></label>Seminár 20</li>
    <li><label><input type="checkbox" value="seminar21"></label>Seminár 21</li>
    <li><label><input type="checkbox" value="seminar22"></label>Seminár 22</li>
    <li><label><input type="checkbox" value="seminar23"></label>Seminár 23</li>
    <li><label><input type="checkbox" value="seminar25"></label>Seminár 25</li>
    <li><label><input type="checkbox" value="seminar26"></label>Seminár 26</li>
    <li><label><input type="checkbox" value="seminar29"></label>Seminár 29</li>
    <li><label><input type="checkbox" value="seminar30"></label>Seminár 30</li>
    <li><label><input type="checkbox" value="seminar31"></label>Seminár 31</li>
    <li><label><input type="checkbox" value="seminar32"></label>Seminár 32</li>
    <li><label><input type="checkbox" value="seminar34"></label>Seminár 34</li>
    <li><label><input type="checkbox" value="spor"></label>Dôkaz sporom</li>
    <li><label><input type="checkbox" value="stvoruholniky"></label>GEO: Štvoruholníky</li>
</ul>

<input type="button" class="button" id="selectAll" value="Vybrat všetko">
<input type="button" class="button" id="deselectAll" value="Nevybrať nič">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function parseTags(object) {
    return $(object).data("tag").split(",").map(function(item) {
        return item.trim();
    });
}

function show() {
    var currentTags = new Set();
    $(".tags input:checked").each(function(index, checkbox) {
        currentTags.add($(checkbox).val());
    });
    $(".problemContainer").each(function(index, problem) {
        tags = parseTags(problem);
        var i;
        for (i = 0; i < tags.length; i++) {
            if (currentTags.has(tags[i])) {
                $(problem).show();
                return;
            }
            $(problem).hide();
        }
    });
}

$('.tags input').change(show);

$('#selectAll').click(function() {
    $('.tags input').prop("checked", true);
});

$('#deselectAll').click(function() {
    $('.tags input').prop("checked", false);
});

$(document).ready(function() {
    show();
});
</script>